<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
	<!-- Load polyfills to support older browsers -->
	<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>

	<script	src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>
<body>
	<div id = "app">
	  	<div style="font-family: Arial, Geneva, Helvetica, sans-serif;">
	  		<b-container fluid>
	  			<b-form v-if="show">
		  			<b-form-group id="input-group-1" label="Input sentence" label-for="review">
		  				<b-form-textarea id="review" v-model="text" row="4"></b-form-textarea>
		  			</b-form-group>
	  				<b-button type="button" @click="onSubmit($event)" variant="primary">Submit</b-button>
	  			</b-form>
	  		</b-container>
	  	</div>

		<hr>

	  	<div v-if="seen">
	  		<b-container fluid>
	  			<p>Sentiment classified as: {{sentiment}}</p>
	  		</b-container>

	  		<hr>
	  		<b-container fluid>
	  			<b-row align-h="between">
	  				<b-col cols="2">
	  					<b-card bg-variant="info" text-variant="white" title="Acceptance">
	  						<b-card-text>Click Approve to accept classification result.</b-card-text>
	  						<b-button variant="success" v-on:click="approve">Approve</b-button>
	  					</b-card>
	  				</b-col>
	  				<b-col cols="10">
	  					<b-card bg-variant="dark" text-variant="white" title="Reclassification">
	  						<b-card-text>Click a choice below to revise classification result.</b-card-text>
	  						<b-button-group size="sm" variant="link" v-for="emotion in emotions" :key="emotion.eid">
	  							<b-button v-on:click="reclassify(emotion.emo)">{{ emotion.emo }}</b-button>
	  						</b-button-group>
	  					</b-card>
	  				</b-col>
	  			</b-row>
	  		</b-container>
	  	</div>
	  	<div v-if="ok">
	  		<b-container fluid>
	  			<b-alert :show="dspCntDwn" dismissible variant="success" @dismissed="dspCntDwn=0" @dismiss-count-down="dspCntDwnChg">
	  				<div class="text-center">{{ msg }}</div>
	  			</b-alert>
	  		</b-container>
	  	</div>
	  	<div v-if="nok">
	  		<b-container fluid>
	  			<b-alert :show="dspCntDwn" dismissible variant="danger" @dismissed="dspCntDwn=0" @dismiss-count-down="dspCntDwnChg">
	  				<div class=" text-center">{{ msg }}</div>
	  			</b-alert>
	  		</b-container>
	  	</div>
  </div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Required scripts -->
	<script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script src="app.js"></script>
</body>

</html>
